*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accents: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

}
body{
    border: solid green 2px;
   
}


.cont{
    border: solid black 2px;
}


.one{
    display: flex;
    align-items: center;
}
.one-image{
    flex-grow: 1;
}
.one-nav{
    flex-grow: 2;
    border: solid black 1px;
}
.nav-list{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: solid black 1px;
}



.two{
    color: red;
    
}
.two-text{
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: var(--fs-h1)
    
}



.three{
  background-color: darkgray;
}


