*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accents: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    
}
body{
    
    height: 100vh;
    background-image: linear-gradient(#01162E, #01426D);
    /* #001D37 */
    color: white;
    overflow: hidden;
   
}

#wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    
}

.one{
    display: flex;
    align-items: center;
    height: 20%;
}
.one-image{
    flex-grow: 1;
    margin-left: 2%;
}
.one-nav{
    flex-grow: 2;
}
.nav-list{
    /* border: solid red 1px; */
    font-size: var(--fs-h3);
    font-family: var(--ff-primary);
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;    
}

.btn{
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* border: solid yellow 1px; */
    color: #c5c7c5;
    transition: color 1s;
}

.btn:hover{
    color: white;
    transition: color 1s;
}

.btn::before{
    content: "";
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 0.3rem;
    background-color: green;
}


.btn-left::before{
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;

}

.btn-left:hover::before{
    transform: scale(1, 1);
    

} 

.btn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    height: 0.3rem;
    width: 100%;
    background-color: red;
}
.btn-left::after{
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.8s ease;
}

.btn-left:hover::after{
    transform: scale(1, 1);
} 








.two{
    position: relative;
    
    height: 80%;
    
}
.intro-text{
    position: absolute;
    top: 35%;
    left: 5%;
    font-family: var(--ff-primary);
    font-size: 3rem;
    cursor: default;
    animation:textUp 3s forwards ;
}

.bounce{
    transition: color 1s;
}


.bounce:hover{
    color: red;
    transform: scale(2);
    transition: color 0.3s;
}



@keyframes textUp {
    0% {opacity:0; transform: translate3d(0 , 0 , 0);}
    100% {opacity:1; transform: translate3d(0, -50% , 0);}
    
}


